body {
    background-image: url(grass.png);
}

h1 {
    color: lightgray;
}

p1 {
    color: lightgray;
    font-size: 20px;
}

p2 {
    color: lightgray;
    font-size: 20px;
}

p2:hover {
    color: red;
    font-size: 20px;
}

p3 {
    color: lightgray;
    font-size: 20px;
}

ul {
    color: lightgray;
    font-size: 20px;
}